.MainHead{
    font-size: 25px;
    font-weight: 500;
    color: rgb(55, 129, 208);
    padding-top: 25px;
    padding-left: 60px;

}    .FormGroup{
    margin-bottom: 10px;
}
.ErrorMsg{
    color: rgba(255,0,0);
    text-align: left;
    font-size: 14px;
}
.FormPad{
    padding: 20px 60px 60px 60px;
}
.InputLabel{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    font-size: 14px;
}
.ImgOutLine{
    width:100%;
    height:250px;
    border: 2px solid rgb(221, 217, 217);
}
.uploadCap{
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.UpdateBtn{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: #1a7ff2;
    margin-top: 20px;
    border: none;
    margin-left: 15px;
    color:#fff
}
.UpdateBtn:hover{
    background: #004dda;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}