.Tokens{
    width: 100%;
   padding: 30px 30px 0px 30px;
}
.PrevBtn{
    width: 10%;
    height: 45px;
    border: 1px solid rgb(96, 164, 241);
    background-color: #4bcadb;
    
    cursor: pointer
}
.NextBtn{
    width: 10%;
    height: 45px;
    border: 1px solid rgb(96, 164, 241);
    background-color:  #4bcadb;
    cursor: pointer;
}
.Token{
    width: 26.666%;
    height: 45px;
   background-color: rgb(55, 217, 238);
   border: 1px solid rgb(96, 164, 241);
   padding-top: 5px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
  color: #fff;
   font-weight: 600;
}
.DateSecondItem{
    /* width: 26.666%;
    height: 45px;
    border: 1px solid rgb(96, 164, 241);
   padding-top: 9px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
    font-weight: 600; */
    width: 26.666%;
    height: 45px;
   border: 2px solid rgb(96, 164, 241);
   padding-top: 9px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
  font-weight: 600;

}
.DateScndBg{
    background-color: rgb(255, 255, 255);
    color:#000;
    /* color: #fff;
    background-color: rgb(55, 217, 238); */

}
.DateThirdItem{
    /* width: 26.666%;
    height: 45px;
     border: 1px solid rgb(96, 164, 241);
   padding-top: 9px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
  font-weight: 600; */
  width: 26.666%;
  height: 45px;
 border: 2px solid rgb(96, 164, 241);
 padding-top: 9px;
 cursor: pointer;
 font-size: 14px;
 text-align: center;
font-weight: 600;
}
.DateThrdBg{
    background-color: rgb(255, 255, 255);
    color:#000;
    /* color: #fff;
    background-color: rgb(55, 217, 238); */
}
.Tokens ul li{
    list-style: none;
    margin-top: 10px;
}
.TokensLayout{
    padding: 20px;
   
}
.TokenSelect li{
    display: inline;
    list-style: none;

}
.DateActiveItem{
    /* width: 26.666%;
    height: 45px;
   border: 2px solid rgb(96, 164, 241);
   padding-top: 9px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
  font-weight: 600; */
    width: 26.666%; 
    height: 45px;
    border: 1px solid rgb(96, 164, 241);
   padding-top: 9px;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
    font-weight: 600; 
}
.DateActiveBg{
    /* background-color: rgb(255, 255, 255);
    color:#000; */
    color: #fff;
    background-color: rgb(55, 217, 238);
}

.BookForm{
    padding: 0px 15px 20px 15px;
}
.FormLabel{
    color: black;
    font-size: 14px;
    margin-bottom: 8px;

}
.BookForm input:focus{
    border: 1px solid #000;
}
.ErrorMsg{
    color: rgba(255,0,0);
    text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
}
.UserHomeButton{
    display: block;
    width: 150px;
    margin-bottom: 5px;
    background: #1f92a2;
    outline: none;
    padding: 12px;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}
.UserHomeButton:hover{
    background: #1c6d7b;
    text-decoration: none;
}
.SlotsPad{
    padding-top: 30px;
}
.NoResults{
    font-size: 25px; 
    text-align: center;
    margin-top: 14px;
}
.TokenPad{
    padding: 10px 10px 10px 15px;
}
.TokenLayout{
    border: 1px solid rgb(33, 114, 206);
    width: 100%;
    height: 40px;
    
    /* padding: 8px 54px; */
   cursor: pointer;
   
}
.TokenBooked{
     border: 1px solid rgb(141, 186, 237);
    width: 100%;
    height: 40px;
    /* padding: 8px 54px;  */
  
}
.TokenBookName{
    color: rgb(181, 180, 180);
    font-size: 14px;
    text-decoration: line-through;
    text-align: center;
    margin-top: 10px;
   
}
.TokenName{ 
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
   
   
}
.TokenSelected{
    background-color: rgb(116, 213, 203);
}

@media (max-width: 980px){
    .DateThirdItem{
        font-size: 12px;
        padding-top: 10px;
    }
     .DateActiveItem{
        font-size: 12px;
        padding-top: 10px;
    }
    .DateSecondItem{
        font-size: 12px;
        padding-top: 10px;
}
.NoResults{
    font-size: 20px; 
    text-align: center;
    margin-top: 12px;
}
}
@media (max-width: 392px){
    .DateThirdItem{
        font-size: 12px;
        padding-top: 5px;
    }
     .DateActiveItem{
        font-size: 12px;
        padding-top: 5px;
    }
    .DateSecondItem{
        font-size: 12px;
        padding-top: 5px;
    }
    .UserHomeButton{
        width: 100px;
        padding: 5px;

    }
}
@media (max-width: 468px){
    .Tokens{
        width: 100%;
       padding: 30px 15px 0px 15px;
    }
.NoResults{
    font-size: 20px; 
    text-align: center;
    margin-top: 12px;
}
.BookForm{
    padding: 0px 0px 20px 0px;
}
}
@media (max-width: 785px){
    .TokenName{
        color: #000;
        font-size: 13px;
       
    }
  
   
}
@media (max-width: 1025px){
    .TokenName{
        color: #000;
        font-size: 13px;
       
    }
  
   
  
}
@media (max-width: 330px){
 
    .TokenName{
        color: #000;
        font-size: 12px;
       
    }
}