.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    box-sizing: border-box;
    cursor: pointer;
    
}
.LineTop{
    width: 60%;
    height: 3px;
    background-color: white;
}
.LineMiddle{
    width: 90%;
    height: 3px;
    background-color: white;
    

}
.LineBottom{
    width: 60%;
    height: 3px;
    background-color: white;
    

}

/* .DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
} */

@media (min-width: 989px) {
    .DrawerToggle {
        display: none;
    }
}
@media (max-width: 635px) {
    .DrawerToggle {
        width: 30px;
        height: 100%;
      
        padding: 23px 0;
       
    }
}