.Search{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.Search input{
    width: 500px;
    height: 40px;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
    padding-left: 40px;
    font-size: 14px;
    margin-top: 20px;
}
.HosCardBody{
    min-height: 230px;
    padding: 0px 15px 0px 15px;
}
.NoResults{
    font-size: 20px; 
    text-align: center;
    margin-top: 14px;
}
.PaginationPad{
    margin-top:15px;
}
.Search input:focus{
  outline: none;
}
.SerachIcon{
   background-image: url(../../../../assets/images/searchBlck.png);
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    font-size: 12px;
}
.PadLeft{
    padding: 0px 12px;
    margin-left: 15px;
}
@media (max-width: 980px){
    .Search input{
        width: 400px;
    }
    .MainPad{
        margin-top: 20px;
    }
    .SerachSecton{
        margin-top: 0px;
    }

}
@media (max-width: 690px){
    .Search input{
        width: 350px;
        height: 30px;
    }
    .Search{
        margin-top: 10px;
       margin-bottom: 10px;
    }
   .PadLeft{
        padding-left: 10px;
    }
    .SerachSecton{
        margin-top: -140px;
    }

}
@media (max-width: 573px){
  .Search input{
        width: 250px;
        margin-top: 10px;
        height: 30px;
    }
  
}
@media (max-width: 375px){
    .Search input{
        width: 200px;
        margin-top: 10px;
        height: 25px;
        padding-left: 30px;
    }
    .SerachIcon{
        background-image: url(../../../../assets/images/searchBlackMob.png);
         background-position: 8px 6px; 
         background-repeat: no-repeat;
         font-size: 12px;
     }
}
@media (max-width: 375px){
    .Search input{
            width: 150px;
            margin-top: 10px;
            height: 25px;
            padding-left: 30px;
     }
}
@media (max-width: 650px){
    .SerachSecton{
        margin-top: -100px;
    }
}
@media (max-width: 452px){
    .SerachSecton{
        margin-top: -220px;
    }
}
@media (max-width: 345px){
    .SerachSecton{
        margin-top: -302px;
    }
}
@media (max-width: 468px){
 .NoResults{
    font-size: 20px; 
    text-align: center;
    margin-top: 12px;
}

}
@media (max-width: 1216px){
    .HosCardBody{
        min-height: 260px;
        padding: 0px 15px 0px 15px;
    }
 }
@media (max-width: 980px){
  .HosCardBody{
        min-height: 265px;
        padding: 0px 45px 0px 45px;
    }
 }
@media (max-width: 700px){
.HosCardBody{
        min-height: 280px;
        padding: 0px 25px 0px 25px;
    }
}

@media (max-width: 535px){
 .HosCardBody{
        min-height: 250px;
        padding: 0px 15px 0px 15px;
    }
   
}
